// Define your color variables
$colors: (
  cf9: #f9f9f9,
  c65: #656565,
  c66: #666666,
  c24: #242424,
  c32: #323232,
  c55: #555555,
  c99: #999999,
  c75: #757575,
  c91: #919191,
  c1f: #1F1500,
  cf3: #FFF3EB,
  c92: #929292,
  ced: #EDEDED,
  cb3: #b3b3b3,
  cab: #ABABAC,
  ccc: #CCCCCC,
  cbb: #BBBBBB,
  cf5: #f5f5f5,
  cf2: #f2f2f2,
  ce2: #E2E2E2,
  cee: #EEEEEE,
  ca1: #a1a1a1,
  bg: #f6f6f6,
  red: #f23636,
  white: #ffffff,
  black: #000000,
  main: #FF852E,
  blue: #027DFC,
  green: #39CF3F,
  yellow: #FFC800,
);

// Mixin to generate background color classes
@mixin generate-bg-classes($color-map) {
  @each $name, $color in $color-map {
    .bg_#{#{$name}} {
      background-color: $color;
    }
    .c_#{#{$name}} {
      color: $color;
    }
    .b_#{#{$name}} {
      border: 1px solid $color;
    }
  };
}; 

// Function to get a color from the map
@function color($key) {
  @return map-get($colors, $key);
}

// Generate classes
@include generate-bg-classes($colors);
