@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors.scss";
@import "./rounded.scss";
@import "./fonts.scss";
@import "./antdv.scss";
@import "./swiper.scss";
@import "./editor.scss";

html,
body {
  margin: 0;
  padding: 0;
  background: color(bg);

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
  }
}

* {
  line-height: 150%;
  scroll-behavior: smooth;
}

input,
textarea,
select,
.ant-select-selector, .ant-picker {
  min-height: 50px !important;
  width: 100%;
  background: transparent;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: 1px solid #cccccc;
  padding: 12px !important;
  outline: none !important;
  resize: none !important;

  ::placeholder {
    color: color(cb3) !important;
  }
}

label {
  display: block;
  cursor: pointer;
}

.ant-picker {
  padding: 0 !important;
}

.ant-picker-range-separator {
  height: 30px;
}

.ant-select-selection-item {
  display: flex;
  align-items: center;
}

.ck-editor {

  .ck-sticky-panel__content,
  .ck-content,
  .ck-toolbar {
    border: 0 !important;
    border-radius: 8px !important;
  }
}

.ck-editor {
  border-radius: 8px;
  border: 1px solid #EDEDED !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.removeScroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.full_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rf {
  border-radius: 50%;
}

.pcursor {
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
}

.aspect-video iframe {
  aspect-ratio: 16 / 9 !important;
  height: auto;
}

.is_loading {
  background: #ededed;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s loading_animation linear infinite;
}

.shadow_message {
  box-shadow: 0px 1px 1px #00000026;
}

@keyframes loading_animation {
  to {
    background-position-x: -200%;
  }
}

// scroll bar

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: color(main);
}

.noscroll::-webkit-scrollbar {
  width: 0px;
}

.boxtshadow {
  box-shadow: 0px -6px 20px 0px rgba(0, 0, 0, 0.05);
}

.file_input {
  overflow: hidden !important;
  height: 0 !important;
  width: 0;
  padding: 0 !important;
}

.addbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
}

.addbox-h {
  border-radius: 8px;

  // Animated
  background-image: repeating-linear-gradient(0deg,
      var(--#FF852E),
      var(--#FF852E) 10px,
      transparent 10px,
      transparent 20px),
    // left
    repeating-linear-gradient(90deg,
      var(--#FF852E),
      var(--#FF852E) 10px,
      transparent 10px,
      transparent 20px),
    // top
    repeating-linear-gradient(180deg,
      var(--#FF852E),
      var(--#FF852E) 10px,
      transparent 10px,
      transparent 20px),
    // right
    repeating-linear-gradient(270deg,
      var(--#FF852E),
      var(--#FF852E) 10px,
      transparent 10px,
      transparent 20px) // bottom
  ;
  background-size: 2px calc(100% + 20px), calc(100% + 20px) 3px,
    3px calc(100% + 20px), calc(100% + 20px) 3px;
  animation: boxBorderAnimation 4s infinite linear;

  @keyframes boxBorderAnimation {
    from {
      background-position: 0 0, -20px 0, 100% -20px, 0 100%;
    }

    to {
      background-position: 0 -20px, 0 0, 100% 0, -20px 100%;
    }
  }
}

.login_btn {
  height: 40px;
  background: color(main);
  color: white;
}

// plyr
.plyr {
  border-radius: 12px !important;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  object-fit: contain !important;
}


.plyr__video-wrapper {
  padding-bottom: 23.5% !important;
  object-fit: contain !important;
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
  height: 100% !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true],
.plyr__control--overlaid {
  background: #FF852E !important;
}

.plyr input {
  padding: 0px !important;
}

.plyr--full-ui input[type=range] {
  color: #FF852E !important;
}

// youtube
.ytp-chrome-top,
.ytp-share-icon {
  display: none !important;
}

.ytp-pause-overlay {
  display: none !important;
}

// youtube

/*--------------------------------
				ICON SHINE
---------------------------------*/
/*---
  icon
---*/

// .animation {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   top: 0;
//   right: 0;
// }

// .animation .item {
//   width: 5px;
//   height: 5px;
//   background: color(main);
//   z-index: 9999999;
//   animation: slide 3s infinite;
//   border-radius: 50%;
// }

// @keyframes slide {
//   0% {
//     width: 0px;
//     height: 0px;
//     border-radius: 100%;
//   }

//   50% {
//     width: 100vw;
//     height: 100vh;
//     border-radius: 50%;
//   }

//   50% {
//     width: 100vw;
//     height: 100vh;
//     border-radius: 25%;
//   }

//   75% {
//     width: 100vw;
//     height: 100vh;
//     border-radius: 10%;
//   }

//   100% {
//     width: 100vw;
//     height: 100vh;
//     border-radius: 0%;
//   }
// }

.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999999999;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.animation .item {
  width: 5px;
  height: 5px;
  background: color(main);
  z-index: 9999999;
  animation: slide 3s infinite;
  border-radius: 50%;
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  50% {
    opacity: 0.2;
    transform: scale(50);
  }

  100% {
    opacity: 0;
    transform: scale(200);
  }
}

.animation .item {
  position: relative;
  z-index: 10;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.animation .item {
  animation: explode 1.8s ease-in-out forwards;
}

.mentionstep {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  border: 1px solid #FF852E;
  border-radius: 4px;
  padding: 5px;
  // height: 24px;
  // width: 24px;
  // font-size: 14px;
}

.questionInfo {
  * {
    display: inline;
  }
}

.drag-handle {
  cursor: grab;
}

.ghost {
  opacity: 1;
  color: color(main);
}

.dragArea .drag-handle {
  touch-action: none;
  /* Mobil uchun */
}

.dragArea .list-group {
  display: flex;
  flex-direction: column;
  /* Faqat vertikal */
}

.dragArea .sortable-ghost {
  transform: translateX(0) !important;
  /* X o‘qi bo‘yicha harakatni oldini oladi */
}

// charts
.highcharts-credits {
  display: none;
}

.spoiler {
  background-color: black;
  color: black;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 3px;
  transition: color 0.5s ease;
}

.spoiler:hover,
.spoiler:focus {
  color: white;
}